.patientvoices-area {
    font-size: 10rem;
    background-color: rgb(40, 39, 41);
    padding-bottom: 100rem;
}

.voice-content {
    font-size: 1.1rem;
}

@media (max-width: 750px) {
  .voice-content{
    font-size: 0.8rem;
  }
}